.circle {
    position: relative;
    width: 80px;
    height: 80px;
    animation: rotate 1.5s linear infinite;
}

.dot {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: oklch(42.4% 0.199 265.638); /* Цвет кружочков */
}

.dot:nth-child(1) { top: 0; left: 50%; transform: translate(-50%, -50%); }
.dot:nth-child(2) { top: 12.5%; left: 87.5%; transform: translate(-50%, -50%); }
.dot:nth-child(3) { top: 50%; left: 100%; transform: translate(-50%, -50%); }
.dot:nth-child(4) { top: 87.5%; left: 87.5%; transform: translate(-50%, -50%); }
.dot:nth-child(5) { top: 100%; left: 50%; transform: translate(-50%, -50%); }
.dot:nth-child(6) { top: 87.5%; left: 12.5%; transform: translate(-50%, -50%); }
.dot:nth-child(7) { top: 50%; left: 0; transform: translate(-50%, -50%); }
.dot:nth-child(8) { top: 12.5%; left: 12.5%; transform: translate(-50%, -50%); }

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
