@tailwind base;
@tailwind components;
@tailwind utilities;


.window-height{
    height: calc(100vh - 50px);
}

::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
}
::-webkit-scrollbar-track {
    background: rgb(228 228 231);        /* цвет дорожки */
}
::-webkit-scrollbar-thumb {
    background-color: rgb(156 163 175);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important; /* Заменяем фон на белый */
    box-shadow: 0 0 0 1000px #f8f8f8 inset !important;
    -webkit-text-fill-color: #000 !important; /* Заменяем цвет текста */
}

iframe#webpack-dev-server-client-overlay{display:none!important} /* Чтолбы не было ошибки ResizeObserver loop completed with undelivered notifications. */
